# Usage: pip install -r requirements.txt
--index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple
torch>=2.6.0,<2.8.0

scipy>=1.4.1

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Extras --------------------------------------
ipython
psutil  # system utilization
thop  # FLOPs computation
